@keyframes breathing {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: translateY(-1.45rem) scale(1.2);
      opacity: .99;
    }

    100% {
        transform: scale(1);
      }  
}

@keyframes fromRight {
  0% {
      opacity: 0;
      left: 5rem;
  }
  10% {
    opacity: 0;
    left: 5rem;
  }
  20% {
    opacity: 0;
    left: 5rem;
  }
  100% {
      opacity: 1;
      left: 0;
  }
}

@keyframes appear {
  0% {opacity: 0;
  left: 5rem;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fromLeft {
  0% {
      opacity: 0;
      left: -9rem;
  }
  10% {
    opacity: 0;
    left: -7rem;
  }
  20% {
    opacity: 0;
    left: -3rem;
  }
  100% {
      opacity: 1;
      left: 0;
  }
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: translateX(3rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rotation {
  25% {
    transform: rotate(180deg);
  }
 
  100% {
    transform: rotate(180deg);
  }
}

@keyframes shakeIt {
  
  74% {
    transform: scale(1) translateY(0) rotate(0);
  }
  75% {
    transform: scale(1.1) translateY(0rem) rotate(-7.5deg);
  }
  80% {
    transform: scale(1.1) translateY(0rem) rotate(7.5deg);
  }
  85% {
    transform: scale(1.2) translateY(-.5rem) rotate(-7.5deg);
  }
  90% {
    transform: scale(1.2) translateY(-.5rem) rotate(7.5deg);
  }
  95% {
    transform: scale(1.1) translateY(-.5rem) rotate(-7.5deg);
  }
  100% {
    transform: scale(1.1) translateY(-.5rem) rotate(7.5deg);
  }

}


@keyframes emoji-1 {
  0% {opacity: 0;}
  10% {opacity:1;}
  20% {
    opacity: 1; 
    transform:translateY(-60rem) scale(2.5) rotate(79.4611deg);
  }
  21%{opacity: 0;}
  100%{opacity: 0;}

}

@keyframes emoji-2 {
  0% {
    opacity: 0; 
    transform:translateX(-6rem)}
    10% {opacity:1;}
  20% {
    opacity: 1; 
    transform: translateX(-9rem) translateY(-60rem) scale(1.5) rotate(-79.4611deg);
  }
  
  21%{opacity: 0;}
  100%{opacity: 0;}

}

@keyframes emoji-3 {
  0% {
    opacity: 0;
    transform: translateX(2.5rem);
  }
  10% {opacity:1;}
  20% {
    opacity: 1; 
    transform: translateX(4.5rem) translateY(-60rem) scale(3.1) rotate(36.4611deg);
  }
  21%{opacity: 0;}
  100%{opacity: 0;}

}

@keyframes emoji-4 {
  0% {
    opacity: 0;
    transform: translateX(4.7rem);
  }
  10% {opacity:1;}
  20% {
    opacity: 1; 
    transform: translateX(13rem) translateY(-60rem) scale(2.3) rotate(83.0277deg);
  }
  21%{opacity: 0;}
  100%{opacity: 0;}

}

@keyframes emoji-5 {
  0% {
    opacity: 0;
    transform: translateX(-9em);
  }
  10% {opacity:1;}
  20% {
    opacity: 1; 
    transform: translateX(-12rem) translateY(-60rem) scale(2.7) rotate(-55.6926deg);
  }
  21%{opacity: 0;}
  100%{opacity: 0;}

}

@keyframes emoji-6 {
  0% {
    opacity: 0;
    transform: translateX(6rem);
  }
  10% {opacity:1;}
  20% {
    opacity: 1; 
    transform: translateX(12rem) translateY(-60rem) scale(1.5) rotate(52.2898deg);
  }
  21%{opacity: 0;}
  100%{opacity: 0;}

}

@keyframes emoji-7 {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }
  10% {opacity:1;}
  20% {
    opacity: 1; 
    transform: translateX(10rem) translateY(-60rem) scale(2.3) rotate(-67.676deg);
  }
  21%{opacity: 0;}
  100%{opacity: 0;}

}

@keyframes emoji-8 {
  0% {
    opacity: 0;
    transform: translateX(-7rem);
  }
  10% {opacity:1;}
  20% {
    opacity: 1; 
    transform: translateX(-9.5rem) translateY(-60rem) scale(3) rotate(58.0163deg);
  }
  21%{opacity: 0;}
  100%{opacity: 0;}

}

@keyframes emoji-9 {
  0% {
    opacity: 0;
    transform: translateX(-3.5rem);
  }
  10% {opacity:1;}
  20% {
    opacity: 1; 
    transform: translateX(-6.5rem) translateY(-60rem) scale(1.2) rotate(20.4363deg);
  }
  21%{opacity: 0;}
  100%{opacity: 0;}

}

@keyframes emoji-10 {
  0% {
    opacity: 0;
    transform: translateX(-4rem);
  }
  10% {opacity:1;}
  20% {
    opacity: 1; 
    transform: translateX(-8rem) translateY(-60rem) scale(4.5) rotate(48.1291deg);
  }
  21%{opacity: 0;}
  100%{opacity: 0;}

}

//--- Groups ---\\
// /*  Group A:  Cowboy-1-2-3
//               Confetti-6-7
//     Group B:  Cowboy-4-5         delay 1s
//               Confetti-8-9-10
//     Group C:  Cowboy-6-7-8       delay 2s
//               Confetti-1-2-3 
//     Group D:  Cowboy-9-10        delay 3s
//               Confetti-4-5-6 *\ 
