@keyframes breathing {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: translateY(-1.45rem) scale(1.2);
      opacity: .99;
    }

    100% {
        transform: scale(1);
      }  
}

@keyframes fromRight {
  0% {
      opacity: 0;
      left: 5rem;
  }
  10% {
    opacity: 0;
    left: 5rem;
  }
  20% {
    opacity: 0;
    left: 5rem;
  }
  100% {
      opacity: 1;
      left: 0;
  }
}

@keyframes appear {
  0% {opacity: 0;
  left: 5rem;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fromLeft {
  0% {
      opacity: 0;
      left: -9rem;
  }
  10% {
    opacity: 0;
    left: -7rem;
  }
  20% {
    opacity: 0;
    left: -3rem;
  }
  100% {
      opacity: 1;
      left: 0;
  }
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: translateX(3rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rotation {
  25% {
    transform: rotate(180deg);
  }
 
  100% {
    transform: rotate(180deg);
  }
}

@keyframes shakeIt {
  10% {
    transform: scale(1.5) translateY(-15rem);
  }
}

