// FONT VARIABLES
$font-primary: 'Roboto', sans-serif;
$color-primary: rgb(17, 17, 17);
$color-secondary: rgba(0, 0, 0, 0.5);

// RESPONSIVE BREAKPOINTS
$bp-largest: 87.5em;   // 1400px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
    
    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}

body {
    font-family: "Roboto", sans-serif;
    color: #989898;
    font-weight: 300;
    line-height: 1.6;
    
}

.container {
    display: grid;
    grid-template-columns: repeat(6, minmax(min-content, 1fr));
    //grid-template-rows: repeat(10, min-content(6rem, 1fr));
    grid-template-rows: repeat(4, 44rem);
    gap: 3.2rem;    
    margin: 6rem 25rem; 
}
  
  .card {
    display: grid;
    border-radius: 1.6rem;
    overflow: hidden; 
}