// FONT VARIABLES
$font-primary: 'Roboto', sans-serif;
$color-primary: rgb(17, 17, 17);
$color-secondary: rgba(0, 0, 0, 0.5);

// RESPONSIVE BREAKPOINTS
$bp-largest: 87.5em;   // 1400px
$bp-large: 68.75em;   // 1110px
$bp-medium: 56.25em;    // 900px;
$bp-small: 37.5em;    // 600px;
$bp-smallest: 31.25em;    // 500px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
    
    // @media only screen and (max-width: $bp-small) {
    //     font-size: 50%;
    // }
}

body {
    font-family: "Roboto", sans-serif;
    color: #989898;
    font-weight: 300;
    line-height: 1.6;
    
}

span:not(:nth-of-type(1)) {
    margin-left: -2.5rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, minmax(min-content, 1fr));
    grid-template-rows: repeat(4, 46rem);
    gap: 3.2rem;    
    margin: 6rem 22rem;

    @media only screen and (max-width: $bp-largest) {
        margin: 3.2rem;
    }
    
    @media only screen and (max-width: $bp-medium) {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        gap: 2rem;
        margin: 2rem;
    }
}
  
  .card {
    display: grid;
    border-radius: 1.6rem;
    overflow: hidden; 
}