.card-1 {
    background-color: #C0E5FE;
    grid-column: 1 /span 4;
     
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(.6rem, 1fr));
   
    align-items: center;
    justify-items: start;

    padding-left: 6rem;

    @media only screen and (max-width: $bp-medium) {
        
        padding: 0 2.4rem;
        flex-direction: column;
        height: auto;
        grid-column: span 6 / auto;
        justify-items: center;
       
    }

    
    
    & svg {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        transform: translate(-4.5rem, 2.2rem); 

        @media only screen and (max-width: $bp-large) {
            transform: translate(-5.8rem, 3rem);
        }
        @media only screen and (max-width: $bp-large) {
            grid-column: 1 / 3;
        }
    }

    & h4 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-left: 4rem;

        @media only screen and (max-width: $bp-large) {
            margin-left: 5rem;
        }
        @media only screen and (max-width: $bp-large) {
            grid-column: 1 / 3;
        }
        
    }

    & h1 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        @media only screen and (max-width: $bp-large) {
            grid-column: 1 / 3;
        }
    }
    
    & p {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        width: 100%;
        text-align: start;
        @media only screen and (max-width: $bp-large) {
            grid-column: 1 / 3;
            width: 50%;
        }
    }

    & video {
        grid-column: 2 / -1;
        justify-self: auto;
        transform: translateY(25.3rem) translateX(4rem);

        @media only screen and (max-width: $bp-large) {
            grid-column: 1 / 3;
            transform: translateY(0rem) translateX(0rem);;
        }
    }

    a {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        align-self: flex-start;
        @media only screen and (max-width: $bp-large) {
            grid-column: 1 / 3;
            align-self: center;

        }
    }
}

