.card-3 {
    background-color: rgba(255, 177, 175, 0.5);
    grid-column: 1 /span 2; 

    grid-template-rows: 30rem 8rem 8rem;

    align-items: center;
    justify-items: center;

    @media only screen and (max-width: $bp-medium) {
        padding: 0 2.4rem;
        //flex-direction: column;
        //height: auto;
        grid-column: span 6 / auto;
        grid-template-rows: 24rem 6rem 6rem;
    }

    p {
        text-align: center;
        align-self: start;
    }
    
    h1 {
        padding-top: 4.5rem;
        font-size: 11.4rem;
        color: rgb(255, 138, 138);
                    
    }

    &__h1-h{
        animation: fromRight 1s ease 1;
        position: relative;
        left: 0;
    }

    &__h1-e{
        animation: fromRightE 1.2s ease 1;
        position: relative;
        left: 0;
    }

    &__h1-y{
        animation: appear 1.4s ease 1;
        position: relative;
        left: 0;
    }

    &__h1-1{
        animation: fromLeft 1.4s ease 1;
        position: relative;
        left: 0;
        color: rgb(255, 78, 78);
    }

    // #onoff {
    //     animation: onoff ease 1.4s infinite;
        
    // }
}