.card-8 {
    background-color: #EEEFF2;
    grid-column: 1 / span 3; 

    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);

    position: relative;

    img {
        height: auto;   
    }
  
    svg {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
        overflow: visible;
    }

    circle {
        position: absolute;
        transform: translate(5.95rem, 5.65rem);
        justify-self: center;
        
    }

    &-phone {
        width: 150%;
        grid-row: 4 / -1;
        grid-column: 1 / 2;
    }

    &-thunder {
        width: 50%;
        grid-row: 1 / 4;
        grid-column: 2 / span 2;
    }

    &-claire {
        width: 30%;
        grid-row: 4 / 5;
        grid-column: 1 / 2;
        justify-self: end;
        align-self: center;
        position: absolute;
        transform: translateY(2rem);
    }

    h2 {
        padding: 0 5rem;
        line-height: 1;
        text-align: center;
        grid-row: 4 / 5;
        grid-column: 2 / -1;
        align-self: center; 
    }

    p {
        text-align: center;
        grid-row: 5 / 6;
        grid-column: 2 / -1;  
    }
}


//<svg width="80" height="80" style="position:absolute;top:164px;right:163px;z-index:2"><circle cx="40" cy="40" r="38" stroke="#1A88F8" stroke-width="4.43" fill="none" stroke-dashoffset="238.7" stroke-dasharray="238.761" style="transform: rotate(-90deg) translateZ(0px); transform-origin: 40px 40px;"></circle></svg>

//0% opacity: 0; transform: scale(1)
//100% opacity: 1: transform: scale(.8)
