.card-6 {
    background-color: #BBF5D5;
    grid-column: 1 /span 2; 

    grid-template-rows: 34rem 6rem 6rem;
    grid-template-columns: 100%;

    img {
        width: 90%;
        height: auto;
        margin: 3rem auto;
    }

    h2 {
        padding: 0 5rem;
        line-height: 1;
        text-align: center;
        grid-row: 2 / 3;
    }

    &__cowboy{
        // display: flex;
        // flex-direction: column;
        // justify-content: space-evenly;
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        animation: emoji 10s infinite;
    }

    &__cowboy-1{
        
    }

    &__cowboy-2{
        transform: translateX(-3rem);
    }

    &__cowboy-3{
        transform: translateX(4rem);
    }

    &__confetti{
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        animation: emoji 8s infinite;
    }

    &__confetti-1{
        
    }
}