.card-6 {
    background-color: rgb(187, 245, 213);
    grid-column: 1 /span 2; 

    grid-template-rows: 34rem 6rem 6rem;
    grid-template-columns: 100%;

    @media only screen and (max-width: $bp-medium) {
        padding: 0 2.4rem;
        //flex-direction: column;
        //height: auto;
        grid-column: span 6 / auto;
    }


    img {
        width: 90%;
        height: auto;
        margin: 3rem auto;
    }

    h2 {
        padding: 0 2rem;
        line-height: 1;
        text-align: center;
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    &__cowboy{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        opacity: 0;
    }

    &__cowboy-1{
        animation: emoji-1 10s infinite 0.1s;
    }

    &__cowboy-2{
        animation: emoji-2 10s infinite 1s;
    }

    &__cowboy-3{
        
        animation: emoji-3 10s infinite 2.1s ;
    }
    &__cowboy-4{
        
        animation: emoji-4 10s infinite 3s;
    }

    &__cowboy-5{
        
        animation: emoji-5 10s infinite 4.1s;
    }

    &__cowboy-6{
        
        animation: emoji-6 10s infinite 5s;
    }

    &__cowboy-7{
        
        animation: emoji-7 10s infinite 6.1s;
    }

    &__cowboy-8{
        
        animation: emoji-8 10s infinite 7s;
    }

    &__cowboy-9{
        
        animation: emoji-9 10s infinite 8.1s;
    }

    &__cowboy-10{
        
        animation: emoji-10 10s infinite 9s;
    }

    &__cowboy-11{
        
        animation: emoji-10 10s infinite .5s;
    }

    &__cowboy-12{
        
        animation: emoji-1 10s infinite 1.5s;
    }

    &__cowboy-13{
        
        animation: emoji-15 10s infinite 2.5s;
    }

    &__cowboy-14{
        
        animation: emoji-3 10s infinite 3.5s;
    }

    &__cowboy-15{
        
        animation: emoji-2 10s infinite 4.5s;
    }

    &__cowboy-16{
        
        animation: emoji-6 10s infinite .3s;
    }

    &__cowboy-17{
        
        animation: emoji-10 10s infinite 1.3s;
    }

    &__cowboy-18{
        
        animation: emoji-5 10s infinite 2.3s;
    }

    &__cowboy-19{
        
        animation: emoji-4 10s infinite 3.3s;
    }

    &__cowboy-20{
        
        animation: emoji-7 10s infinite 4.3s;
    }

    &__cowboy-21{
        
        animation: emoji-6 10s infinite 5.3s;
    }

    &__cowboy-22{
        
        animation: emoji-7 10s infinite 6.3s;
    }

    &__cowboy-23{
        
        animation: emoji-3 10s infinite 7.3s;
    }

    &__cowboy-24{
        
        animation: emoji-9 10s infinite 8.3s;
    }

    &__cowboy-25{
        
        animation: emoji-2 10s infinite 9.3s;
    }

    &__confetti{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        opacity: 0;  
    }

    &__confetti-1{
        animation: emoji-10 10s infinite 0s; 
    }

    &__confetti-2{
        animation: emoji-9 10s infinite 1.1s; 
    }

    &__confetti-3{
        animation: emoji-8 10s infinite 2s; 
    }

    &__confetti-4{
        animation: emoji-7 10s infinite 3.1s; 
    }
    
    &__confetti-5{
        animation: emoji-6 10s infinite 4s; 
    }

    &__confetti-6{
        animation: emoji-5 10s infinite 5.1s; 
    }

    &__confetti-7{
        animation: emoji-4 10s infinite 6s; 
    }

    &__confetti-8{
        animation: emoji-3 10s infinite 7.1s; 
    }

    &__confetti-9{
        animation: emoji-2 10s infinite 8s; 
    }

    &__confetti-10{
        animation: emoji-1 10s infinite 9.1s; 
    }

    &__confetti-11{
        animation: emoji-6 10s infinite .5s; 
    }

    &__confetti-12{
        animation: emoji-4 10s infinite 1.5s; 
    }

    &__confetti-13{
        animation: emoji-9 10s infinite 2.5s; 
    }

    &__confetti-14{
        animation: emoji-8 10s infinite 3.5s; 
    }

    &__confetti-15{
        animation: emoji-7 10s infinite 4.5s; 
    }

    &__confetti-16{
        animation: emoji-9 10s infinite .3s; 
    }

    &__confetti-17{
        animation: emoji-1 10s infinite 1.3s; 
    }

    &__confetti-18{
        animation: emoji-3 10s infinite 2.3s; 
    }

    &__confetti-19{
        animation: emoji-8 10s infinite 3.3s; 
    }

    &__confetti-20{
        animation: emoji-2 10s infinite 4.3s; 
    }

    &__confetti-21{
        animation: emoji-1 10s infinite 5.3s; 
    }

    &__confetti-22{
        animation: emoji-5 10s infinite 6.3s; 
    }

    &__confetti-23{
        animation: emoji-8 10s infinite 7.3s; 
    }

    &__confetti-24{
        animation: emoji-4 10s infinite 8.3s; 
    }

    &__confetti-25{
        animation: emoji-2 10s infinite 9.3s; 
    }

}