.card-7 {
    background-color: #FEFAF0;
    grid-column: 3 / -1; 

    grid-template-rows: 34rem 6rem 6rem;
    justify-items: center;

    @media only screen and (max-width: $bp-medium) {
        //flex-direction: column;
        //height: auto;
        grid-column: span 6 / auto;
    }


    img {
        width: 100%;
        height: auto;   
    }

    h2 {
        padding: 0 5rem;
        line-height: 1;
        text-align: center;
    }

    p {
        text-align: center;  
    }
    
}