.card-8 {
    background-color: #EEEFF2;
    grid-column: 1 / span 3; 

    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);

    @media only screen and (max-width: $bp-medium) {
        padding: 0 2.4rem;
        grid-column: span 6 / auto;
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: 0 1fr 0;
        grid-template-rows: repeat(auto-fit, minmax(8rem, 1fr));   
    }

    
    &-phone {
        width: 150%;
        grid-row: 3 / -1;
        grid-column: 1 / 2;
        align-self: flex-end;

        @media only screen and (max-width: $bp-small) {
            width: 0%;
            grid-column: 2 / 3;
        }
    }

    &-thunder {
        width: 45%;
        grid-row: 1 / 4;
        grid-column: 2 / span 2;

        @media only screen and (max-width: $bp-small) {
            width: 30%;
            grid-row: 1 / 2;
            grid-column: 2 / 3;
        }
    }

    &-claire {
        width: 30%;
        grid-row: 4 / 5;
        grid-column: 1 / 2;
        justify-self: center;
        align-self: center;
        animation: reduce 4s ease infinite;

        // @media only screen and (max-width: $bp-small) {
        //     width: 0%;
        // }
    }

    &__svg-loader {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
        justify-self: center;
        align-self: center;
        transform: translateY(.2rem);

        @media only screen and (max-width: $bp-small) {
            transform: translateX(-52rem);
        }

        .loader-svg {
            fill: none;
            stroke-width: 5px;
            stroke-linecap: round;
            stroke: rgb(26, 136, 248);
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
        }

        .animate{
            animation: fillCircle 4s cubic-bezier(1,1,1,1) 0s infinite;
          }
    }

    h1 {
        padding: 0 5rem;
        line-height: 1;
        text-align: center;
        grid-row: 4 / 5;
        grid-column: 2 / -1;
        align-self: center;

        @media only screen and (max-width: $bp-small) {
            grid-template-rows: repeat(5, .5fr);
            font-size: 4rem;
            grid-row: 2 / 3;
            grid-column: 2 / 3;   
        } 
    }

    p {
        grid-row: 5 / 6;
        grid-column: 2 / -1;
        margin-left: 3rem; 

        @media only screen and (max-width: $bp-small) {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
            margin: 1rem 0rem;
        } 
    }
}

