.card-4 {
    background-color: #FFEACB;
    grid-column: 3 /span 2; 
    
    grid-template-rows: 30rem 8rem 8rem;

    align-items: center;
    justify-items: center;

    @media only screen and (max-width: $bp-medium) {
        padding: 0 2.4rem;
        //flex-direction: column;
        //height: auto;
        grid-column: span 6 / auto;
    }


    p {
        text-align: center;
        align-self: start;
    }

    img {
        animation: rotation cubic-bezier(.19,1.57,.83,.67) 7s infinite;
    }
}