.btn-apple {
    border-radius: 16px;
    font-family: "Roboto", sans-serif;
    color: #989898;
    font-weight: 300;
    line-height: 1.6;
    border: none;
    align-items: center;
    justify-items: center;
    align-content: center;
    
}