.footer {
    
    display: flex;
    justify-content: space-between;
    
    grid-column: 1 / -1; 
    div {
       margin-top: 3rem;
       @media only screen and (max-width: $bp-largest) {
        margin-top: 0rem;
    }
       
    }
    a {
        text-decoration: none;
        color: $color-secondary;
        padding-left: 2rem;
        font-size: 1.6rem;
    }
    p {
        width: 100%;
    }
}