*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 87.5em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: #989898;
  font-weight: 300;
  line-height: 1.6;
}

span:not(:nth-of-type(1)) {
  margin-left: -2.5rem;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(min-content, 1fr))[6];
      grid-template-columns: repeat(6, minmax(-webkit-min-content, 1fr));
      grid-template-columns: repeat(6, minmax(min-content, 1fr));
  -ms-grid-rows: (46rem)[4];
      grid-template-rows: repeat(4, 46rem);
  gap: 3.2rem;
  margin: 6rem 22rem;
}

.card {
  display: -ms-grid;
  display: grid;
  border-radius: 1.6rem;
  overflow: hidden;
}

h1,
h2,
h4,
a {
  color: #111111;
}

h1,
h2 {
  margin: 0 auto;
}

h1 {
  font-size: 5.5rem;
  line-height: 1;
}

h2 {
  font-size: 3.2rem;
}

h4 {
  font-size: 3rem;
}

p {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  letter-spacing: 0.05rem;
  width: 75%;
  line-height: 1.2;
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: translateY(-1.45rem) scale(1.2);
            transform: translateY(-1.45rem) scale(1.2);
    opacity: .99;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: translateY(-1.45rem) scale(1.2);
            transform: translateY(-1.45rem) scale(1.2);
    opacity: .99;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes popInH {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30rem);
            transform: translateX(30rem);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateX(20rem);
            transform: translateX(20rem);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes popInH {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30rem);
            transform: translateX(30rem);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateX(20rem);
            transform: translateX(20rem);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes popIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes popIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.card-1 {
  background-color: #C0E5FE;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 /span 4;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (minmax(0.6rem, 1fr))[auto-fit];
      grid-template-rows: repeat(auto-fit, minmax(0.6rem, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: start;
  padding-left: 6rem;
}

.card-1 svg {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -webkit-transform: translate(-4.5rem, 2.2rem);
          transform: translate(-4.5rem, 2.2rem);
}

.card-1 h4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  margin-left: 4rem;
}

.card-1 h1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.card-1 p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  width: 100%;
}

.card-1 video {
  grid-column: 2 / -1;
  -ms-grid-column-align: auto;
      justify-self: auto;
  -webkit-transform: translateY(25.3rem) translateX(4rem);
          transform: translateY(25.3rem) translateX(4rem);
}

.card-1 a {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.card-2 {
  background-color: rgba(142, 238, 185, 0.6);
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5 / span 2;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.card-2 h2 {
  line-height: 1;
  text-align: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 7;
  grid-column: 2 / 9;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5 / 7;
}

.card-2 img {
  width: 80%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 7;
  grid-column: 2 / 9;
}

.card-2__dot {
  background: #99a5b2;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-left: 2rem;
  opacity: 0.420079;
}

.card-2__dot-1 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 /  5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -webkit-animation: breathing 2s ease infinite;
          animation: breathing 2s ease infinite;
}

.card-2__dot-2 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -webkit-animation: breathing 2s ease infinite .15s;
          animation: breathing 2s ease infinite .15s;
}

.card-2__dot-3 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6 / 7;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -webkit-animation: breathing 2s ease infinite .25s;
          animation: breathing 2s ease infinite .25s;
}

.card-3 {
  background-color: rgba(255, 177, 175, 0.5);
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 /span 2;
  -ms-grid-rows: 30rem 8rem 8rem;
      grid-template-rows: 30rem 8rem 8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.card-3 p {
  text-align: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.card-3 h1 {
  padding-top: 4.5rem;
  font-size: 11.4rem;
  color: #ff8a8a;
}

.card-3__h1-h {
  -webkit-animation: popInH 5s ease 1;
          animation: popInH 5s ease 1;
}

.card-4 {
  background-color: #FFEACB;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 /span 2;
  -ms-grid-rows: 30rem 8rem 8rem;
      grid-template-rows: 30rem 8rem 8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.card-4 p {
  text-align: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.card-5 {
  background-color: #D5D4F5;
  grid-column: 5 / -1;
  -ms-grid-rows: 30rem 8rem 8rem;
      grid-template-rows: 30rem 8rem 8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.card-5 p {
  text-align: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.card-6 {
  background-color: #BBF5D5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 /span 2;
}

.card-6 img {
  width: 90%;
  height: auto;
  margin: 3rem auto;
}

.card-6 h2 {
  padding: 0 5rem;
  line-height: 1;
  text-align: center;
}

.card-7 {
  background-color: #FEFAF0;
  grid-column: 3 / -1;
  justify-items: center;
}

.card-7 img {
  width: 100%;
  height: auto;
}

.card-7 h2 {
  padding: 0 5rem;
  line-height: 1;
  text-align: center;
}

.card-7 p {
  text-align: center;
}

.card-8 {
  background-color: #EEEFF2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  justify-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
}

.card-8 img {
  height: auto;
}

.card-8-phone {
  width: 150%;
  grid-row: 3 / -1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.card-8-thunder {
  width: 50%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
}

.card-8-claire {
  width: 30%;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-column-align: end;
      justify-self: end;
}

.card-8 h2 {
  padding: 0 5rem;
  line-height: 1;
  text-align: center;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  grid-column: 2 / -1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card-8 p {
  text-align: center;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  grid-column: 2 / -1;
}

.card-9 {
  background-color: #FFD8D7;
  grid-column: 4 / -1;
  justify-items: center;
  -ms-grid-rows: (minmax(1rem, 1fr))[5];
      grid-template-rows: repeat(5, minmax(1rem, 1fr));
}

.card-9 h2 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card-9 img {
  width: 100%;
  height: auto;
}

.card-9 p {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
}

.card-10 {
  background-color: #f3f4f6;
  grid-column: 1 / -1;
  height: 22rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-10 p {
  width: auto;
}

.card-10 a {
  margin: 0 1rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-column: 1 / -1;
}

.footer div {
  margin-top: 3rem;
}

.footer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 2rem;
  font-size: 1.6rem;
}

.footer p {
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */