*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 87.5em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: #989898;
  font-weight: 300;
  line-height: 1.6;
}

span:not(:nth-of-type(1)) {
  margin-left: -2.5rem;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(min-content, 1fr))[6];
      grid-template-columns: repeat(6, minmax(-webkit-min-content, 1fr));
      grid-template-columns: repeat(6, minmax(min-content, 1fr));
  -ms-grid-rows: (46rem)[4];
      grid-template-rows: repeat(4, 46rem);
  gap: 3.2rem;
  margin: 6rem 22rem;
}

.card {
  display: -ms-grid;
  display: grid;
  border-radius: 1.6rem;
  overflow: hidden;
}

h1,
h2,
h4,
a {
  color: #111111;
}

h1,
h2 {
  margin: 0 auto;
}

h1 {
  font-size: 5.5rem;
  line-height: 1;
}

h2 {
  font-size: 3.2rem;
}

h4 {
  font-size: 3rem;
}

p {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  letter-spacing: 0.05rem;
  width: 75%;
  line-height: 1.2;
  text-align: center;
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: translateY(-1.45rem) scale(1.2);
            transform: translateY(-1.45rem) scale(1.2);
    opacity: .99;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: translateY(-1.45rem) scale(1.2);
            transform: translateY(-1.45rem) scale(1.2);
    opacity: .99;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fromRight {
  0% {
    opacity: 0;
    left: 5rem;
  }
  10% {
    opacity: 0;
    left: 5rem;
  }
  20% {
    opacity: 0;
    left: 5rem;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fromRight {
  0% {
    opacity: 0;
    left: 5rem;
  }
  10% {
    opacity: 0;
    left: 5rem;
  }
  20% {
    opacity: 0;
    left: 5rem;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    left: 5rem;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    left: 5rem;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@-webkit-keyframes fromLeft {
  0% {
    opacity: 0;
    left: -9rem;
  }
  10% {
    opacity: 0;
    left: -7rem;
  }
  20% {
    opacity: 0;
    left: -3rem;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fromLeft {
  0% {
    opacity: 0;
    left: -9rem;
  }
  10% {
    opacity: 0;
    left: -7rem;
  }
  20% {
    opacity: 0;
    left: -3rem;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@-webkit-keyframes popIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes popIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes rotation {
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes rotation {
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes shakeIt {
  74% {
    -webkit-transform: scale(1) translateY(0) rotate(0);
            transform: scale(1) translateY(0) rotate(0);
  }
  75% {
    -webkit-transform: scale(1.1) translateY(0rem) rotate(-7.5deg);
            transform: scale(1.1) translateY(0rem) rotate(-7.5deg);
  }
  80% {
    -webkit-transform: scale(1.1) translateY(0rem) rotate(7.5deg);
            transform: scale(1.1) translateY(0rem) rotate(7.5deg);
  }
  85% {
    -webkit-transform: scale(1.2) translateY(-0.5rem) rotate(-7.5deg);
            transform: scale(1.2) translateY(-0.5rem) rotate(-7.5deg);
  }
  90% {
    -webkit-transform: scale(1.2) translateY(-0.5rem) rotate(7.5deg);
            transform: scale(1.2) translateY(-0.5rem) rotate(7.5deg);
  }
  95% {
    -webkit-transform: scale(1.1) translateY(-0.5rem) rotate(-7.5deg);
            transform: scale(1.1) translateY(-0.5rem) rotate(-7.5deg);
  }
  100% {
    -webkit-transform: scale(1.1) translateY(-0.5rem) rotate(7.5deg);
            transform: scale(1.1) translateY(-0.5rem) rotate(7.5deg);
  }
}

@keyframes shakeIt {
  74% {
    -webkit-transform: scale(1) translateY(0) rotate(0);
            transform: scale(1) translateY(0) rotate(0);
  }
  75% {
    -webkit-transform: scale(1.1) translateY(0rem) rotate(-7.5deg);
            transform: scale(1.1) translateY(0rem) rotate(-7.5deg);
  }
  80% {
    -webkit-transform: scale(1.1) translateY(0rem) rotate(7.5deg);
            transform: scale(1.1) translateY(0rem) rotate(7.5deg);
  }
  85% {
    -webkit-transform: scale(1.2) translateY(-0.5rem) rotate(-7.5deg);
            transform: scale(1.2) translateY(-0.5rem) rotate(-7.5deg);
  }
  90% {
    -webkit-transform: scale(1.2) translateY(-0.5rem) rotate(7.5deg);
            transform: scale(1.2) translateY(-0.5rem) rotate(7.5deg);
  }
  95% {
    -webkit-transform: scale(1.1) translateY(-0.5rem) rotate(-7.5deg);
            transform: scale(1.1) translateY(-0.5rem) rotate(-7.5deg);
  }
  100% {
    -webkit-transform: scale(1.1) translateY(-0.5rem) rotate(7.5deg);
            transform: scale(1.1) translateY(-0.5rem) rotate(7.5deg);
  }
}

@-webkit-keyframes emoji-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(-60rem) scale(2.5) rotate(79.4611deg);
            transform: translateY(-60rem) scale(2.5) rotate(79.4611deg);
  }
  21% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes emoji-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(-60rem) scale(2.5) rotate(79.4611deg);
            transform: translateY(-60rem) scale(2.5) rotate(79.4611deg);
  }
  21% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes emoji-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-6rem);
            transform: translateX(-6rem);
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(-9rem) translateY(-60rem) scale(3.5) rotate(-79.4611deg);
            transform: translateX(-9rem) translateY(-60rem) scale(3.5) rotate(-79.4611deg);
  }
  21% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes emoji-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-6rem);
            transform: translateX(-6rem);
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(-9rem) translateY(-60rem) scale(3.5) rotate(-79.4611deg);
            transform: translateX(-9rem) translateY(-60rem) scale(3.5) rotate(-79.4611deg);
  }
  21% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes emoji-3 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2.5rem);
            transform: translateX(2.5rem);
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(4.5rem) translateY(-60rem) scale(3.1) rotate(36.4611deg);
            transform: translateX(4.5rem) translateY(-60rem) scale(3.1) rotate(36.4611deg);
  }
  21% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes emoji-3 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2.5rem);
            transform: translateX(2.5rem);
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(4.5rem) translateY(-60rem) scale(3.1) rotate(36.4611deg);
            transform: translateX(4.5rem) translateY(-60rem) scale(3.1) rotate(36.4611deg);
  }
  21% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes emoji-4 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(4.7rem);
            transform: translateX(4.7rem);
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(13rem) translateY(-60rem) scale(2.7) rotate(83.0277deg);
            transform: translateX(13rem) translateY(-60rem) scale(2.7) rotate(83.0277deg);
  }
  21% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes emoji-4 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(4.7rem);
            transform: translateX(4.7rem);
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(13rem) translateY(-60rem) scale(2.7) rotate(83.0277deg);
            transform: translateX(13rem) translateY(-60rem) scale(2.7) rotate(83.0277deg);
  }
  21% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes emoji-5 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-9em);
            transform: translateX(-9em);
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(-12rem) translateY(-60rem) scale(3.7) rotate(-55.6926deg);
            transform: translateX(-12rem) translateY(-60rem) scale(3.7) rotate(-55.6926deg);
  }
  21% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes emoji-5 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-9em);
            transform: translateX(-9em);
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(-12rem) translateY(-60rem) scale(3.7) rotate(-55.6926deg);
            transform: translateX(-12rem) translateY(-60rem) scale(3.7) rotate(-55.6926deg);
  }
  21% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes emoji-6 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(6rem);
            transform: translateX(6rem);
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(12rem) translateY(-60rem) scale(4.5) rotate(52.2898deg);
            transform: translateX(12rem) translateY(-60rem) scale(4.5) rotate(52.2898deg);
  }
  21% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes emoji-6 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(6rem);
            transform: translateX(6rem);
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(12rem) translateY(-60rem) scale(4.5) rotate(52.2898deg);
            transform: translateX(12rem) translateY(-60rem) scale(4.5) rotate(52.2898deg);
  }
  21% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes emoji-7 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(10rem) translateY(-60rem) scale(4.3) rotate(-67.676deg);
            transform: translateX(10rem) translateY(-60rem) scale(4.3) rotate(-67.676deg);
  }
  21% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes emoji-7 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(10rem) translateY(-60rem) scale(4.3) rotate(-67.676deg);
            transform: translateX(10rem) translateY(-60rem) scale(4.3) rotate(-67.676deg);
  }
  21% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes emoji-8 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-7rem);
            transform: translateX(-7rem);
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(-9.5rem) translateY(-60rem) scale(3.8) rotate(58.0163deg);
            transform: translateX(-9.5rem) translateY(-60rem) scale(3.8) rotate(58.0163deg);
  }
  21% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes emoji-8 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-7rem);
            transform: translateX(-7rem);
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(-9.5rem) translateY(-60rem) scale(3.8) rotate(58.0163deg);
            transform: translateX(-9.5rem) translateY(-60rem) scale(3.8) rotate(58.0163deg);
  }
  21% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes emoji-9 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-3.5rem);
            transform: translateX(-3.5rem);
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(-6.5rem) translateY(-60rem) scale(3.2) rotate(20.4363deg);
            transform: translateX(-6.5rem) translateY(-60rem) scale(3.2) rotate(20.4363deg);
  }
  21% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes emoji-9 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-3.5rem);
            transform: translateX(-3.5rem);
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(-6.5rem) translateY(-60rem) scale(3.2) rotate(20.4363deg);
            transform: translateX(-6.5rem) translateY(-60rem) scale(3.2) rotate(20.4363deg);
  }
  21% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes emoji-10 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem);
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(-8rem) translateY(-60rem) scale(4.5) rotate(48.1291deg);
            transform: translateX(-8rem) translateY(-60rem) scale(4.5) rotate(48.1291deg);
  }
  21% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes emoji-10 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem);
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(-8rem) translateY(-60rem) scale(4.5) rotate(48.1291deg);
            transform: translateX(-8rem) translateY(-60rem) scale(4.5) rotate(48.1291deg);
  }
  21% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes bouncing-1 {
  0% {
    -webkit-transform: scale(1) translateY(0) rotate(0);
            transform: scale(1) translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: scale(1.5) translateY(2rem) rotate(17.5deg);
            transform: scale(1.5) translateY(2rem) rotate(17.5deg);
  }
  100% {
    -webkit-transform: scale(1) translateY(0) rotate(0);
            transform: scale(1) translateY(0) rotate(0);
  }
}

@keyframes bouncing-1 {
  0% {
    -webkit-transform: scale(1) translateY(0) rotate(0);
            transform: scale(1) translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: scale(1.5) translateY(2rem) rotate(17.5deg);
            transform: scale(1.5) translateY(2rem) rotate(17.5deg);
  }
  100% {
    -webkit-transform: scale(1) translateY(0) rotate(0);
            transform: scale(1) translateY(0) rotate(0);
  }
}

@-webkit-keyframes bouncing-2 {
  0% {
    -webkit-transform: scale(1) translateY(0) rotate(0);
            transform: scale(1) translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: scale(1.5) translateY(-2rem) rotate(-17.5deg);
            transform: scale(1.5) translateY(-2rem) rotate(-17.5deg);
  }
  100% {
    -webkit-transform: scale(1) translateY(0) rotate(0);
            transform: scale(1) translateY(0) rotate(0);
  }
}

@keyframes bouncing-2 {
  0% {
    -webkit-transform: scale(1) translateY(0) rotate(0);
            transform: scale(1) translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: scale(1.5) translateY(-2rem) rotate(-17.5deg);
            transform: scale(1.5) translateY(-2rem) rotate(-17.5deg);
  }
  100% {
    -webkit-transform: scale(1) translateY(0) rotate(0);
            transform: scale(1) translateY(0) rotate(0);
  }
}

.card-1 {
  background-color: #C0E5FE;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 /span 4;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (minmax(0.6rem, 1fr))[auto-fit];
      grid-template-rows: repeat(auto-fit, minmax(0.6rem, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: start;
  padding-left: 6rem;
}

.card-1 svg {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -webkit-transform: translate(-4.5rem, 2.2rem);
          transform: translate(-4.5rem, 2.2rem);
}

@media only screen and (max-width: 87.5em) {
  .card-1 svg {
    -webkit-transform: translate(-5.5rem, 2.8rem);
            transform: translate(-5.5rem, 2.8rem);
  }
}

.card-1 h4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  margin-left: 4rem;
}

@media only screen and (max-width: 87.5em) {
  .card-1 h4 {
    margin-left: 6rem;
  }
}

.card-1 h1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.card-1 p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  width: 100%;
  text-align: start;
}

.card-1 video {
  grid-column: 2 / -1;
  -ms-grid-column-align: auto;
      justify-self: auto;
  -webkit-transform: translateY(25.3rem) translateX(4rem);
          transform: translateY(25.3rem) translateX(4rem);
}

.card-1 a {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.card-2 {
  background-color: rgba(142, 238, 185, 0.6);
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5 / span 2;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.card-2 h2 {
  line-height: 1;
  text-align: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 7;
  grid-column: 2 / 9;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5 / 7;
}

.card-2 img {
  width: 80%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 7;
  grid-column: 2 / 9;
}

.card-2__dot {
  background: #99a5b2;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-left: 2rem;
  opacity: 0.420079;
}

.card-2__dot-1 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 /  5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -webkit-animation: breathing 2s ease infinite;
          animation: breathing 2s ease infinite;
}

.card-2__dot-2 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -webkit-animation: breathing 2s ease infinite .15s;
          animation: breathing 2s ease infinite .15s;
}

.card-2__dot-3 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6 / 7;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -webkit-animation: breathing 2s ease infinite .25s;
          animation: breathing 2s ease infinite .25s;
}

.card-3 {
  background-color: rgba(255, 177, 175, 0.5);
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 /span 2;
  -ms-grid-rows: 30rem 8rem 8rem;
      grid-template-rows: 30rem 8rem 8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.card-3 p {
  text-align: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.card-3 h1 {
  padding-top: 4.5rem;
  font-size: 11.4rem;
  color: #ff8a8a;
}

.card-3__h1-h {
  -webkit-animation: fromRight 1s ease 1;
          animation: fromRight 1s ease 1;
  position: relative;
  left: 0;
}

.card-3__h1-e {
  -webkit-animation: fromRight 1.2s ease 1;
          animation: fromRight 1.2s ease 1;
  position: relative;
  left: 0;
}

.card-3__h1-y {
  -webkit-animation: appear 1.4s ease 1;
          animation: appear 1.4s ease 1;
  position: relative;
  left: 0;
}

.card-3__h1-1 {
  -webkit-animation: fromLeft 1.4s ease 1;
          animation: fromLeft 1.4s ease 1;
  position: relative;
  left: 0;
}

.card-4 {
  background-color: #FFEACB;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 /span 2;
  -ms-grid-rows: 30rem 8rem 8rem;
      grid-template-rows: 30rem 8rem 8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.card-4 p {
  text-align: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.card-4 img {
  -webkit-animation: rotation cubic-bezier(0.19, 1.57, 0.83, 0.67) 7s infinite;
          animation: rotation cubic-bezier(0.19, 1.57, 0.83, 0.67) 7s infinite;
}

.card-5 {
  background-color: #D5D4F5;
  grid-column: 5 / -1;
  -ms-grid-rows: 30rem 8rem 8rem;
      grid-template-rows: 30rem 8rem 8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.card-5 p {
  text-align: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.card-5 img {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation: shakeIt 5s cubic-bezier(0.03, 1.24, 0.91, 0.99) infinite;
          animation: shakeIt 5s cubic-bezier(0.03, 1.24, 0.91, 0.99) infinite;
}

.card-6 {
  background-color: #bbf5d5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 /span 2;
  -ms-grid-rows: 34rem 6rem 6rem;
      grid-template-rows: 34rem 6rem 6rem;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.card-6 img {
  width: 90%;
  height: auto;
  margin: 3rem auto;
}

.card-6 h2 {
  padding: 0 5rem;
  line-height: 1;
  text-align: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.card-6__cowboy {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  opacity: 0;
}

.card-6__cowboy-1 {
  -webkit-animation: emoji-1 10s infinite 0.1s;
          animation: emoji-1 10s infinite 0.1s;
}

.card-6__cowboy-2 {
  -webkit-animation: emoji-2 10s infinite 1s;
          animation: emoji-2 10s infinite 1s;
}

.card-6__cowboy-3 {
  -webkit-animation: emoji-3 10s infinite 2.1s;
          animation: emoji-3 10s infinite 2.1s;
}

.card-6__cowboy-4 {
  -webkit-animation: emoji-4 10s infinite 3s;
          animation: emoji-4 10s infinite 3s;
}

.card-6__cowboy-5 {
  -webkit-animation: emoji-5 10s infinite 4.1s;
          animation: emoji-5 10s infinite 4.1s;
}

.card-6__cowboy-6 {
  -webkit-animation: emoji-6 10s infinite 5s;
          animation: emoji-6 10s infinite 5s;
}

.card-6__cowboy-7 {
  -webkit-animation: emoji-7 10s infinite 6.1s;
          animation: emoji-7 10s infinite 6.1s;
}

.card-6__cowboy-8 {
  -webkit-animation: emoji-8 10s infinite 7s;
          animation: emoji-8 10s infinite 7s;
}

.card-6__cowboy-9 {
  -webkit-animation: emoji-9 10s infinite 8.1s;
          animation: emoji-9 10s infinite 8.1s;
}

.card-6__cowboy-10 {
  -webkit-animation: emoji-10 10s infinite 9s;
          animation: emoji-10 10s infinite 9s;
}

.card-6__cowboy-11 {
  -webkit-animation: emoji-10 10s infinite .5s;
          animation: emoji-10 10s infinite .5s;
}

.card-6__cowboy-12 {
  -webkit-animation: emoji-1 10s infinite 1.5s;
          animation: emoji-1 10s infinite 1.5s;
}

.card-6__cowboy-13 {
  -webkit-animation: emoji-15 10s infinite 2.5s;
          animation: emoji-15 10s infinite 2.5s;
}

.card-6__cowboy-14 {
  -webkit-animation: emoji-3 10s infinite 3.5s;
          animation: emoji-3 10s infinite 3.5s;
}

.card-6__cowboy-15 {
  -webkit-animation: emoji-2 10s infinite 4.5s;
          animation: emoji-2 10s infinite 4.5s;
}

.card-6__cowboy-16 {
  -webkit-animation: emoji-6 10s infinite .3s;
          animation: emoji-6 10s infinite .3s;
}

.card-6__cowboy-17 {
  -webkit-animation: emoji-10 10s infinite 1.3s;
          animation: emoji-10 10s infinite 1.3s;
}

.card-6__cowboy-18 {
  -webkit-animation: emoji-5 10s infinite 2.3s;
          animation: emoji-5 10s infinite 2.3s;
}

.card-6__cowboy-19 {
  -webkit-animation: emoji-4 10s infinite 3.3s;
          animation: emoji-4 10s infinite 3.3s;
}

.card-6__cowboy-20 {
  -webkit-animation: emoji-7 10s infinite 4.3s;
          animation: emoji-7 10s infinite 4.3s;
}

.card-6__cowboy-21 {
  -webkit-animation: emoji-6 10s infinite 5.3s;
          animation: emoji-6 10s infinite 5.3s;
}

.card-6__cowboy-22 {
  -webkit-animation: emoji-7 10s infinite 6.3s;
          animation: emoji-7 10s infinite 6.3s;
}

.card-6__cowboy-23 {
  -webkit-animation: emoji-3 10s infinite 7.3s;
          animation: emoji-3 10s infinite 7.3s;
}

.card-6__cowboy-24 {
  -webkit-animation: emoji-9 10s infinite 8.3s;
          animation: emoji-9 10s infinite 8.3s;
}

.card-6__cowboy-25 {
  -webkit-animation: emoji-2 10s infinite 9.3s;
          animation: emoji-2 10s infinite 9.3s;
}

.card-6__confetti {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  opacity: 0;
}

.card-6__confetti-1 {
  -webkit-animation: emoji-10 10s infinite 0s;
          animation: emoji-10 10s infinite 0s;
}

.card-6__confetti-2 {
  -webkit-animation: emoji-9 10s infinite 1.1s;
          animation: emoji-9 10s infinite 1.1s;
}

.card-6__confetti-3 {
  -webkit-animation: emoji-8 10s infinite 2s;
          animation: emoji-8 10s infinite 2s;
}

.card-6__confetti-4 {
  -webkit-animation: emoji-7 10s infinite 3.1s;
          animation: emoji-7 10s infinite 3.1s;
}

.card-6__confetti-5 {
  -webkit-animation: emoji-6 10s infinite 4s;
          animation: emoji-6 10s infinite 4s;
}

.card-6__confetti-6 {
  -webkit-animation: emoji-5 10s infinite 5.1s;
          animation: emoji-5 10s infinite 5.1s;
}

.card-6__confetti-7 {
  -webkit-animation: emoji-4 10s infinite 6s;
          animation: emoji-4 10s infinite 6s;
}

.card-6__confetti-8 {
  -webkit-animation: emoji-3 10s infinite 7.1s;
          animation: emoji-3 10s infinite 7.1s;
}

.card-6__confetti-9 {
  -webkit-animation: emoji-2 10s infinite 8s;
          animation: emoji-2 10s infinite 8s;
}

.card-6__confetti-10 {
  -webkit-animation: emoji-1 10s infinite 9.1s;
          animation: emoji-1 10s infinite 9.1s;
}

.card-6__confetti-11 {
  -webkit-animation: emoji-6 10s infinite .5s;
          animation: emoji-6 10s infinite .5s;
}

.card-6__confetti-12 {
  -webkit-animation: emoji-4 10s infinite 1.5s;
          animation: emoji-4 10s infinite 1.5s;
}

.card-6__confetti-13 {
  -webkit-animation: emoji-9 10s infinite 2.5s;
          animation: emoji-9 10s infinite 2.5s;
}

.card-6__confetti-14 {
  -webkit-animation: emoji-8 10s infinite 3.5s;
          animation: emoji-8 10s infinite 3.5s;
}

.card-6__confetti-15 {
  -webkit-animation: emoji-7 10s infinite 4.5s;
          animation: emoji-7 10s infinite 4.5s;
}

.card-6__confetti-16 {
  -webkit-animation: emoji-9 10s infinite .3s;
          animation: emoji-9 10s infinite .3s;
}

.card-6__confetti-17 {
  -webkit-animation: emoji-1 10s infinite 1.3s;
          animation: emoji-1 10s infinite 1.3s;
}

.card-6__confetti-18 {
  -webkit-animation: emoji-3 10s infinite 2.3s;
          animation: emoji-3 10s infinite 2.3s;
}

.card-6__confetti-19 {
  -webkit-animation: emoji-8 10s infinite 3.3s;
          animation: emoji-8 10s infinite 3.3s;
}

.card-6__confetti-20 {
  -webkit-animation: emoji-2 10s infinite 4.3s;
          animation: emoji-2 10s infinite 4.3s;
}

.card-6__confetti-21 {
  -webkit-animation: emoji-1 10s infinite 5.3s;
          animation: emoji-1 10s infinite 5.3s;
}

.card-6__confetti-22 {
  -webkit-animation: emoji-5 10s infinite 6.3s;
          animation: emoji-5 10s infinite 6.3s;
}

.card-6__confetti-23 {
  -webkit-animation: emoji-8 10s infinite 7.3s;
          animation: emoji-8 10s infinite 7.3s;
}

.card-6__confetti-24 {
  -webkit-animation: emoji-4 10s infinite 8.3s;
          animation: emoji-4 10s infinite 8.3s;
}

.card-6__confetti-25 {
  -webkit-animation: emoji-2 10s infinite 9.3s;
          animation: emoji-2 10s infinite 9.3s;
}

.card-7 {
  background-color: #FEFAF0;
  grid-column: 3 / -1;
  -ms-grid-rows: 34rem 6rem 6rem;
      grid-template-rows: 34rem 6rem 6rem;
  justify-items: center;
}

.card-7 img {
  width: 100%;
  height: auto;
}

.card-7 h2 {
  padding: 0 5rem;
  line-height: 1;
  text-align: center;
}

.card-7 p {
  text-align: center;
}

.card-8 {
  background-color: #EEEFF2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  justify-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
}

.card-8 img {
  height: auto;
}

.card-8-claire {
  position: relative;
}

.card-8 svg {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.card-8-phone {
  width: 150%;
  grid-row: 3 / -1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.card-8-thunder {
  width: 45%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
}

.card-8-claire {
  width: 30%;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-column-align: end;
      justify-self: end;
}

.card-8 h1 {
  padding: 0 5rem;
  line-height: 1;
  text-align: center;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  grid-column: 2 / -1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card-8 p {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  grid-column: 2 / -1;
  margin-left: 3rem;
}

.card-9 {
  background-color: #FFD8D7;
  grid-column: 4 / -1;
  justify-items: center;
  -ms-grid-rows: (minmax(1rem, 1fr))[5];
      grid-template-rows: repeat(5, minmax(1rem, 1fr));
}

.card-9 h1 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card-9 img {
  width: 100%;
  height: auto;
}

.card-9 p {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
}

.card-10 {
  background-color: #f3f4f6;
  grid-column: 1 / -1;
  height: 30rem;
  -ms-grid-columns: (1fr)[3] max-content (1fr)[3];
      grid-template-columns: repeat(3, 1fr) -webkit-max-content repeat(3, 1fr);
      grid-template-columns: repeat(3, 1fr) max-content repeat(3, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-10 div {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.card-10 p {
  width: auto;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
}

.card-10 a {
  margin: 0 1rem;
}

.card-10 h1 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.card-10__balloon {
  width: 50%;
}

.card-10__balloon.balloon-1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -webkit-animation: bouncing-1 9s infinite;
          animation: bouncing-1 9s infinite;
}

.card-10__balloon.balloon-2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -webkit-animation: bouncing-2 8s infinite;
          animation: bouncing-2 8s infinite;
}

.card-10__balloon.balloon-3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
  -webkit-animation: bouncing-2 10s infinite;
          animation: bouncing-2 10s infinite;
}

.card-10__balloon.balloon-4 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
  -webkit-animation: bouncing-2 12s infinite;
          animation: bouncing-2 12s infinite;
  -ms-grid-column-align: end;
      justify-self: end;
}

.card-10__balloon.balloon-5 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6 / 7;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -webkit-animation: bouncing-1 11s infinite;
          animation: bouncing-1 11s infinite;
  -ms-grid-column-align: end;
      justify-self: end;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-column: 1 / -1;
}

.footer div {
  margin-top: 3rem;
}

.footer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 2rem;
  font-size: 1.6rem;
}

.footer p {
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */